@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Cadastro</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo ao Cadastro </h2>
        <p>
            O cadastro possui a funcionalidade de pessoa fisica implementada.
        </p>
    </div>
     
    <div class="col-md-4">
        <h2>Projeto disponível em...</h2>
        <p>Loren IpslumLoren Ipslum Loren Ipslum Loren Ipslum.</p>
        <p><a class="btn btn-default" href="Loren Ipslum">Loren Ipslum</a></p>
    </div>
</div>